#
# https://docs.docker.com/build/ci/github-actions/
#
name: ci

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'

env:
  APP_REPO:  ghcr.io/myspotontheweb/spring-boot-demo1
  APP_IMAGE: ghcr.io/myspotontheweb/spring-boot-demo1/demo1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          # list of Docker images to use as base name for tags
          images: ${{ env.APP_IMAGE }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - uses: alexellis/setup-arkade@v2
      - uses: alexellis/arkade-get@master
        with:
          helm: latest

      - name: Push Helm chart
        run: |
          helm dependency build chart
          helm package chart --version ${{ env.VERSION }} --app-version v${{ env.VERSION }}
          helm push demo1-${{ env.VERSION }}.tgz oci://${{ env.APP_REPO }}/charts
        env:
          VERSION: ${{ steps.meta.outputs.version }}
